
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

@font-face {
  font-family: 'anshul';
  src: url('fonts/Spanish\ Adventure\ Mag.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(270deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

div.header {
    width: 100%;
    height: 60px;
    background:linear-gradient(270deg, #fffd7a 10%, #92FE9D 100%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    padding: 20px;
    font-family: 'dongle', sans-serif;
    font-size: 28px;
}

.headerhome {
    margin-left: 75%;
    text-decoration: none;
    color:#0fe2e9;
    font-weight:150;
}
.headersupport{
        text-decoration: none;
    color:#0fe2e9;
    font-weight:150;
}
.headerabout {
    text-decoration: none;
    color:#0fe2e9;
    font-weight:150;
}
.headercontact {
    text-decoration: none;
    color:#0fe2e9;
    font-weight:150;
}

a.headerhome:hover{
    color:#0fe2e9;
    font-size:30px;
    text-decoration: underline;
    font-weight:200;
}
.headerabout:hover{
    color:#0fe2e9;
    font-size:30px;
    text-decoration: underline;
    font-weight:200;
}
.headercontact:hover{
    color:#0fe2e9;
    font-size:30px;
    text-decoration: underline;
    font-weight:200;
}
.headersupport:hover{
    color:#0fe2e9;
    font-size:30px;
    text-decoration: underline;
    font-weight:200;
}